<tr>
  <td><%= dog.id %></td>
  <td><%= dog.name %></td>
  <td><%= dog.breed.name %></td>
  <td><%= dog.format_gender %></td>
  <td><%= yes_no(dog.castrated?) %></td>
  <td><%= dog.birthdate.strftime("%d/%m/%Y") %></td>
  <td><%= dog.owner.name %></td>
  <td><%= dog.owner.phone %></td>
  <td><%= dog.last_visit %></td>
</tr>
