<tr>
  <td><%= dog.id %></td>
  <td><%= dog.name %></td>
  <td><%= dog.breed.name %></td>
  <td><%= dog.gender %></td>
  <td><%= dog.castrated? %></td>
  <td><%= dog.birthdate %></td>
  <td><%= dog.owner.name %></td>
  <td><%= dog.owner.phone %></td>
  <td><%= dog.last_visit %></td>
</tr>
