<h1>Dogs</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :nome %>
  <%= f.search_field :name_cont %>

  <%= f.label :raça %>
  <%= f.search_field :breed_name_cont %>

  <%= f.label :dono %>
  <%= f.search_field :owner_name_cont %>

  <%= f.submit "Buscar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Raça</th>
      <th>Gênero</th>
      <th>Castrado</th>
      <th>Nascimento</th>
      <th>Dono</th>
      <th>Telefone</th>
      <th>Última Visita</th>
    </tr>
  </thead>
  <tbody id="dogs">
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= dog.name %></td>
        <td><%= dog.breed.name %></td>
        <td><%= dog.gender %></td>
        <td><%= dog.castrated? %></td>
        <td><%= dog.birthdate %></td>
        <td><%= dog.owner.name %></td>
        <td><%= dog.owner.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @dogs %>
