<h1>Dogs</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :nome %>
  <%= f.search_field :name_cont %>

  <%= f.label :raça %>
  <%= f.search_field :breed_name_cont %>

  <%= f.label :dono %>
  <%= f.search_field :owner_name_cont %>

  <%= f.submit "Buscar" %>
<% end %>

<table>
  <thead>
    <tr id="dogs-header">
      <%= render 'dogs_header' %>
    </tr>
  </thead>
  <tbody id="dogs">
    <%= render @dogs %>
  </tbody>
</table>
<div id="paginator">
  <%= paginate @dogs, remote: true %>
</div>
